mat-card {
  width: 98%;
  justify-content: center;
  margin: auto;

  mat-card-header {
    .spacer {
      flex: 1 1 auto;
    }
  }

  mat-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .label {
      font-weight: 700;
    }
    .info {
      padding-left: 15px;
    }
  }
}
