<!-- TODO: Można by zapisywać stan filtrów na stronie z listą książek by wracać do wyników swojego poprzedniego wyszukiwania -->
<a mat-icon-button matTooltip="Back to list" href="/">
  <mat-icon>arrow_back</mat-icon>
</a>
<mat-card *appLoader="book$ | async as book">
  <mat-card-header>
    <mat-card-title> Book details </mat-card-title>
    <span class="spacer"></span>
    <!-- TODO: oznaczanie książek, które już mamy "na półce" przez ikonę wypełnioną (nie outline) -->
    <button
      mat-icon-button
      matTooltip="Add to bookshelf"
      (click)="bookshelfService.openAddDialog(book)"
    >
      <mat-icon>star_outline</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="info-container left">
      <p class="label">Title</p>
      <p class="info">{{ book.title }}</p>
      <p class="label">Authors</p>
      <p class="info">{{ book.authors | listAuthors }}</p>
    </div>
    <div class="info-container right">
      <p class="label">Cover image</p>
      <img
        mat-card-lg-image
        [src]="book.cover || 'assets/book-cover-placeholder.png'"
      />
    </div>
  </mat-card-content>
</mat-card>
