<mat-toolbar color="primary">
  <span>Bookshelf Buddy</span>
  <span class="example-spacer"></span>
  <a mat-icon-button matTooltip="Bookshelf" href="bookshelf">
    <mat-icon>favorite</mat-icon>
  </a>
  <a mat-icon-button matTooltip="Books search" href="/">
    <mat-icon>home</mat-icon>
  </a>
</mat-toolbar>
