<!-- 
  TODO: Przydałaby się wyszukiwarka jak na liście książek, infiniteScroll i loader.
  Lepszy byłby też inny sposób pokazania danych - szczegóły z możliwością edycji opisu i statusu książki
 -->
<div class="books">
  @for (book of books; track book.bookId) {
    <app-bookshelf-card [data]="book"></app-bookshelf-card>
  }

  @if (!books.length) {
    <span>No Books on your Bookshelf yet :c</span>
  }
</div>
