/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fefadf;

  --mdc-filled-text-field-container-color: #fefadf;
  --mdc-filled-text-field-disabled-container-color: #fefadf;
  --mdc-elevated-card-container-color: #fce762;

  mat-card {
    color: #3f51b5;
    mat-card-footer a {
      text-decoration: none;
      color: #3f51b5;
    }
  }

  .mdc-icon-button {
    color: #3f51b5;
  }
}
