<div class="dialog-body">
  <h2 mat-dialog-title>Delete Book from Bookshelf</h2>
  <mat-dialog-content>
    <p>Are you sure?</p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>No</button>
    <button mat-button [mat-dialog-close]="true">Yes</button>
  </mat-dialog-actions>
</div>
