.dialog-body {
  overflow: hidden;

  h2 {
    padding-left: 20px;
    color: #3f51b5;
  }

  .book-data {
    mat-icon {
      vertical-align: top;
      margin-right: 10px;
      color: #3f51b5;
    }
  }

  form mat-form-field {
    display: block;

    textarea {
      resize: none;
    }
  }
}
