<div class="dialog-body">
  <h2 mat-dialog-title>Add Book to Bookshelf</h2>
  <mat-dialog-content>
    <div class="book-data">
      <p>
        <mat-icon>book</mat-icon><b>{{ book.title }}</b>
      </p>
      <p><mat-icon>person</mat-icon>{{ book.authors | listAuthors }}</p>
    </div>

    <form [formGroup]="bookshelfData">
      <mat-form-field>
        <mat-label>Your opinion or notes</mat-label>
        <textarea
          type="text"
          matInput
          formControlName="notes"
          rows="4"
        ></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>What is your reading status of this book?</mat-label>
        <mat-select formControlName="status">
          @for (status of bookStatus | keyvalue; track status) {
            <mat-option [value]="status.key">{{
              status.value | titlecase
            }}</mat-option>
          }
        </mat-select>
        @if (bookshelfData.controls.status.hasError("required")) {
          <mat-error>Set book status</mat-error>
        }
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="addBook()">Add</button>
  </mat-dialog-actions>
</div>
