mat-card {
  width: 350px;
  height: 350px;
  margin: 10px;

  &:hover {
    transform: scale(1.03);
    transition: all 0.4s;
  }

  mat-card-header > mat-card-title-group {
    mat-card-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 320px;
    }
  }

  mat-card-content {
    position: relative;
    height: 100%;

    img {
      min-height: 200px;
      position: absolute;
      margin: auto;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  mat-card-footer {
    padding: 10px;
    text-align: right;
  }
}
