<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title [matTooltip]="data.title">
        {{ data.title }}
      </mat-card-title>
      <mat-card-subtitle>{{ data.authors | listAuthors }}</mat-card-subtitle>
      <button
        mat-icon-button
        matTooltip="Add to bookshelf"
        (click)="bookshelfService.openAddDialog(data)"
      >
        <mat-icon>star_outline</mat-icon>
      </button>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <img
      mat-card-lg-image
      [src]="data.cover || 'assets/book-cover-placeholder.png'"
    />
  </mat-card-content>

  <mat-card-footer>
    <a [routerLink]="['/details', data.id]">See more</a>
  </mat-card-footer>
</mat-card>
