.search {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  form {
    width: 500px;
    padding-top: 15px;

    mat-form-field {
      width: 100%;
    }
  }
}

.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
