<div class="search">
  <form>
    <mat-form-field>
      <mat-label>Search by author and title</mat-label>
      <input matInput type="text" [formControl]="searchFormControl" />

      @if (searchFormControl.hasError("minlength")) {
        <mat-error>Please enter at least 3 characters</mat-error>
      }
    </mat-form-field>
  </form>
</div>

<div
  class="books"
  infiniteScroll
  (scrolled)="getBooks()"
  *appLoader="items$ | async as items"
>
  @for (item of items; track item.id) {
    <app-book-card [data]="item"></app-book-card>
  }
</div>
