mat-card {
  width: 450px;
  height: 450px;
  margin: 10px;

  mat-card-header > mat-card-title-group {
    mat-card-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 320px;
    }
  }

  mat-card-content {
    mat-form-field {
      width: 100%;
      textarea {
        resize: none;
        overflow-y: auto;
      }
    }

    .left-content {
      display: inline-block;
    }

    .right-content {
      float: right;
    }
  }
}
