<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title [matTooltip]="data.bookData.title">
        {{ data.bookData.title }}
      </mat-card-title>
      <mat-card-subtitle>{{
        data.bookData.authors | listAuthors
      }}</mat-card-subtitle>
      <button
        mat-icon-button
        matTooltip="Delete from bookshelf"
        (click)="deleteFromBookshelf(data.bookId)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <h4>Opinion / notes</h4>
    <mat-form-field>
      <textarea matInput rows="5" disabled>{{ data.notes }}</textarea>
    </mat-form-field>

    <div class="left-content">
      <h4>Status</h4>
      <p>{{ status | titlecase }}</p>
    </div>
    <div class="right-content">
      <img
        mat-card-md-image
        [src]="data.bookData.cover || 'assets/book-cover-placeholder.png'"
      />
    </div>
  </mat-card-content>

  <mat-card-footer> </mat-card-footer>
</mat-card>
